:root {
    --title-color: #2E2F42;
    --main-text-color: #434455;
    --second-text-color: #ffffff;
    --focus-color: #404BBF;
    --button-color: #4D5AE5;
    --second-bc-color: #F4F4FD;
}

body {
    font-family: 'Roboto',
        sans-serif;
    color: var(--main-text-color);
    background-color: #FFFFFF;
}


p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}



img {
    display: block;
}

.link {
    text-decoration: none;
}


.list {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.container {
    max-width: 426px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

/*--------------------Header--------------------*/


.header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
}


.header-navigation {
    display: flex;
    align-items: center;
}


.header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--button-color);
    ;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-right: 76px;
}

.header-logo span {
    color: var(--title-color);
}


.header-menu {
    display: none;

    /* display: flex; */
    gap: 40px;
}


.header-menu-item {}


.header-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--title-color);
    letter-spacing: 0.02em;
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/* .current {
    color: var(--focus-color);
}

.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: var(--focus-color);
    border-radius: 2px;
    display: block;
    width: 100%;
} */

.header-menu-link:hover,
.header-menu-link:focus {
    color: var(--focus-color);
}


.address {
    font-style: normal;
    margin-left: auto;
}


.address-list {
    display: none;

    /* display: flex; */
    gap: 40px;
}


.address-item {}


.address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


.address-link:hover,
.address-link:focus {
    color: var(--focus-color);
}

.icon-charm{
    stroke: #2E2F42;
}

.open-menu-btn{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.mob-menu{
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    padding: 24px 24px 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: auto;
}

.mob-menu-list{
    padding-top: 56px;
    margin-bottom: 50px;
}

.mob-menu-item:not(:last-child){
    margin-bottom: 40px;
}

.mob-menu-link{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11; 
    letter-spacing: 0.072px;
    text-transform: capitalize;
    color: var(--title-color);
}

.mob-close-btn{
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 32px;
}

.mob-list{
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 48px;
}

.mob-item:not(:first-child){
    margin-bottom: 40px;
}

.phone-link{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11; 
    letter-spacing: 0.072px;
    text-transform: capitalize;
    color: var(--button-color);
}

.mail-link{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    color: var(--main-text-color);
}

.mob-social-list {
    display: flex;
    justify-content: center;
    gap: 56px;
}


.mob-social-icon {
    width: 40px;
    height: 40px;
}


.mob-soc-network {
    width: 100%;
    height: 100%;
    background-color: var(--button-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-soc-network:hover,
.mob-soc-network:focus {
    background-color: var(--focus-color);
}

/*------------------Section: Hero-----------------*/

.hero {
    /* padding: 188px 0; */
    padding: 112px 0;
    background-color: var(--title-color);
    background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)), url(../images/bg-image-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 428px;
    /* max-width: 1440px; */
    margin: 0 auto;
}


@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero{
        background-image: linear-gradient(to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)), url(../images/bg-image-mob-2x.jpg);
    }
}

.hero-container {}


.hero-title {
    font-weight: 700;
    font-size: 36px;
    /* font-size: 56px; */
    line-height: 1.07;
    text-align: center;
    color: var(--second-text-color);
    letter-spacing: 0.02em;
    /* margin-bottom: 48px; */
    margin-bottom: 72px;
    /* max-width: 496px; */
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
}


.hero-btn {
    min-width: 169px;
    height: 56px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--second-text-color);
    cursor: pointer;
    background-color: var(--button-color);
    border-radius: 4px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--focus-color);
}

/*--------------Section: About us-------------*/
.about {
    padding: 96px 0;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.about-icon{
    display: none;
}

/* .icon-box {
    display: flex;
    align-items: center;
    background-color: var(--second-bc-color);
    border-radius: 4px;
    height: 112px;
    justify-content: center;
    margin-bottom: 8px;
    display: none;
} */

.about-list {
    display: flex;
    gap: 72px;
    flex-wrap: wrap;
    
}

.about-item {
    /* width: calc((100% - 72px) / 4); */
    width: 100%;
}

.about-item:not(:last-child){
    margin-bottom: 72px;
}

.about-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color);
    margin-bottom: 8px;
    text-align: center;
}


.about-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

/* ---------------Section: Doing---------------*/

.doing {
    padding-bottom: 120px;
    display: none;
    
}


.doing-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: var(--title-color);
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.doing-list {
    display: flex;
    gap: 24px;
}


.doing-item {
    width: calc((100% - 48px)/3);
}

/*-----------------Section: Team-----------------*/

.team {
    background-color: var(--second-bc-color);
    /* padding: 120px 0; */
    padding: 96px 0;
}



.team-container {
    background-color: var(--second-bc-color);
    padding: 32px 16px;
}



.social-icon-item {
    fill: #f4f4fd;
}



.social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}


.social-icon {
    width: 40px;
    height: 40px;
}


.soc-network {
    width: 100%;
    height: 100%;
    background-color: var(--button-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-network:hover,
.soc-network:focus {
    background-color: var(--focus-color);
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: var(--title-color);
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    /* gap: 24px; */
    gap: 72px;
    flex-wrap: wrap;
    /* width: 264px; */
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}


.team-item-container {
    padding: 32px 0;
    text-align: center;
}


.team-item {
    background-color: #FFFFFF;
    /* width: calc((100% - 72px) / 4); */
    width: 100%;
    max-width: 264px;
    
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-item img{
    margin: 0 auto;
}
.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--title-color);
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.team-item-text {
    font-size: 16px;
    line-height: 1.5;
    color: var(--main-text-color);
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}



/*-------------Section: Customers------------*/

.customers {
    /* padding: 120px 0; */
    padding: 96px 0;
}


.customers-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 24px; */
    gap: 16px;
    column-gap: 16px;
    row-gap: 72px;
    flex-wrap: wrap;
}


.customers-item {
    width: 100%;
    /* max-width: 190px; */
    /* width: calc((100% - 120px) / 6); */
    width: calc((100% - 16px) / 2);
    height: 88px;
}

.customers-link {
    border: 1px solid #8E8F99;
    border-radius: 4px;
    gap: 24px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8e8f99;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.customers-link:hover {
    border-color: var(--focus-color);
    color: var(--focus-color);
}

.customers-link:focus {
    border-color: var(--focus-color);
    color: var(--focus-color);
}



.customers-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}


.customer-icon {
    fill: currentColor;
}


/*------------------Footer------------------*/

.footer {
    background-color: var(--title-color);
    /* padding: 100px 0; */
    padding: 97.5px 0;
}


.footer-container {
    background-color: var(--title-color);
    display: flex;
    /* align-items: baseline; */
    /* flex-wrap: wrap; */
    flex-direction: column;
    gap: 72px;
}

.footer-logo-container {
    /* margin-right: 120px; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 268px;
    margin-bottom: 72px;
    margin: 0 auto;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--button-color);
    text-transform: uppercase;
    display: inline-block;
    /* margin-bottom: 16px; */

    margin-bottom: 17.5px;
}

.footer-logo span {
    color: #f4f4fd;
}


.footer-text {
    font-size: 16px;
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    /* max-width: 264px; */
}


.footer-soc-container {
    /* margin-right: 80px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

.footer-soc-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--second-text-color);

    /* margin-bottom: 16px; */
}


.footer-list {
    display: flex;
    gap: 16px;
}


.footer-icon {
    width: 40px;
    height: 40px;
}

.soc-network-footer {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-network-footer:hover,
.soc-network-footer:focus {
    background-color: #31d0aa;
    ;
}

.footer-icon-item {
    fill: #f4f4fd;
}

/*--------------- Subscribe-button --------------*/
.subscribe-form {
    display: flex;
    /* gap: 24px; */
    gap: 16px;
    flex-wrap: wrap;
}

.subscribe-box{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    gap: 16px;
}

.subscribe-label{
    display: block;
    width: 100%;
}

.subscribe-input {
    width: 100%;

    /* width: 264px; */
    height: 40px;
    border: 1px solid #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--second-text-color);
    background-color: transparent;
    padding-left: 16px;
}

.subscribe-input::placeholder {
    color: var(--second-text-color);
}

.subscribe-button {
    width: 165px;
    padding: 8px 24px;

    /* min-width: 165px; */
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--second-text-color);
    cursor: pointer;
    background: #4D5AE5;
    border-radius: 4px;
    border: none;
    font-family: "Roboto", sans-serif;
    margin: 0 auto;
}

.subscribe-frame-icon {
    margin-left: 16px;
}

/*--------------Section: Buttons-----------------*/

.section-list {
    padding-top: 96px;
    padding-bottom: 120px;
}

.btn-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 72px
}

.btn-item {}


.btn {
    font-family: "Roboto", sans-serif;
    color: var(--button-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    background-color: #f4f4fd;
    border-radius: 4px;
    padding: 12px 24px;
    border: 1px solid #e7e9fc;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.btn:hover,
.btn:focus {
    color: #ffffff;
    background-color: var(--focus-color);
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}


.info-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}


.info-item {
    width: calc((100% - 48px) / 3);
}

.image-container {
    position: relative;
    overflow: hidden;
}

.info-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--title-color);
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.info-item-text {
    font-size: 16px;
    line-height: 1.5;
    color: var(--main-text-color);
    letter-spacing: 0.02em;
}

.info-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.text-overlay {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    position: absolute;
    top: 0;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link {
    display: block;
    width: 100%;
    height: 100%;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-link:hover .text-overlay,
.portfolio-link:focus .text-overlay {
    transform: translateY(0%);
}

/* ----------Section: Modal window---------- */
.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}


.modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: var(--focus-color);
    border: none;
    fill: #ffffff;
}

.icon-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--title-color);
    max-width: 360px;
    margin-bottom: 16px;
}



.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    padding-right: 16px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #4D5AE5;
}

.modal-input:focus+.modal-icon {
    fill: #4D5AE5;
}


.modal-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    margin-bottom: 4px;
    display: block;
    margin-bottom: 4px;
}

.input-wrap {
    position: relative;
}

.modal-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 16px;
    padding-right: 16px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    resize: none;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    padding: 8px 16px;
}


.modal-textarea:focus {
    border-color: #4D5AE5;
}

.modal-textarea::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}



.check-text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    align-items: center;
}


.check-text a {
    color: #4D5AE5;
    text-decoration: underline;
}


.modal-field {
    margin-bottom: 8px;
}


.modal-textarea-box {
    margin-bottom: 16px;
}

.modal-checkbox {
    margin-bottom: 24px;
}


.check-text-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    margin-right: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-check:checked+.check-text>.check-text-span {
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}

.modal-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    width: 169px;
    height: 56px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    min-width: 169px;
    margin: 0 auto;
}

/* ------------Media-------------- */
/* @media screen and (min-width: 428px) {
    .container{
        max-width: 426px;
    }
    
} */

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
    /*--------Section: Hero---------- */
    .hero{
        background-image: linear-gradient(to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)), url(../images/bg-image-tab.jpg);
        max-width: 768px;
    }
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)), url(../images/bg-image-tab-2x.jpg);
            }
        }
    .hero-title{
        font-size: 56px;
        max-width: 496px;
        margin-bottom: 36px;
    }
    /*--------Section: About us-------*/
    .about-item {
        width: calc((100% - 24px) / 2);
        }
    .about-item:not(:last-child) {
        margin-bottom: 0;
        }
    .about-list{
        column-gap: 24px;
        row-gap: 72px;
    }
    /* -----------Section: Our Team---------- */
    .team-list{
        column-gap: 24px;
        row-gap: 64px;
        }
    .team-item {
        width: calc((100% - 24px) / 2);
    }

    /*-------------Section: Customers------------*/
    .customers-list{
        column-gap: 24px;
        row-gap: 72px;
    }
    .customers-item{
        width: calc((100% - 48px) / 3);
    }
    /*------------------Footer------------------*/
    .footer-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
        padding: 0 108px;
    }
    .subscribe-box{
        align-items: flex-start;
    }
    .subscribe-form{
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 24px;
    }
    .subscribe-input {
        width: 264px;
    }
    .footer-soc-container{
        margin: 0;
    }
    .footer-logo-container{
        margin: 0;
    }
}

@media screen and (min-width: 1158px){
.container {
    max-width: 1158px;
    }
    /*--------Section: Hero---------- */
.hero{
    padding: 188px 0;
    background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url(../images/bg-image-desk.jpg);
    max-width: 1440px;
}
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)), url(../images/bg-image-desk-2x.jpg);
    }
}
.hero-title {
    font-size: 56px;
    max-width: 496px;
    margin-bottom: 48px;
}
    /*--------Section: About us-------*/
.about-item {
    width: calc((100% - 72px) / 4);
}

.icon-box {
    display: flex;
    align-items: center;
    background-color: var(--second-bc-color);
    border-radius: 4px;
    height: 112px;
    justify-content: center;
    margin-bottom: 8px;
}

.about-list {
    display: flex;
}
.about-icon {
    display: block;
}

/* --------Section: What Are We Doing------- */
.doing {
    display: block;
}

/* -----------Section: Our Team---------- */
.team-list{
    gap: 24px;
}
.team-item{
    width: calc((100% - 72px) / 4);
}

/*-------------Section: Customers------------*/
.customers{
    padding: 120px 0;
}

.customers-list{
    gap: 24px;
    flex-wrap: nowrap;
}

.customers-item{
    width: calc((100% - 120px) / 6);
}

/*------------------Footer------------------*/
}